*.docx
# Ignora cartelle di training
results/
logs/
checkpoints/
checkpoint-*/

# Ignora file di modelli PyTorch
*.pt
*.pth
*.bin
*.safetensors

# Ignora cache HuggingFace
*cache/
wandb/
__pycache__/
*.pyc
.ipynb_checkpoints/

venv/

# IDE settings
.vscode/
.idea/

TODO.txt